---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import ArticleCard from '../components/ArticleCard.astro';
import Footer from '../components/Footer.astro';

const tutorialPosts = await getCollection('blog', ({ data }) => {
  return data.category === 'library' && !data.draft;
});

const sortedLibrary = tutorialPosts.sort((a, b) => 
  new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---

<BaseLayout title="Library">
  <Header />
  
  <main>
    <section class="page-header">
      <div class="container">
        <h2 class="library-heading">Library</h2>
        <h1>
            <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="80" height="80" fill="currentColor">
            <path d="M3 6v13c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6H3zm16 13H5V8h14v11zM8 10h2v7H8v-7zm4 0h2v7h-2v-7zm4 0h2v7h-2v-7z"/>
            </svg>
        </h1>
        <p><i>“Dive into my library books I’ve read, loved, and occasionally pretended to understand.”</i></p>
      </div>
    </section>

    <section class="posts-grid-section">
      <div class="container">
        <div class="articles-grid">
          {sortedLibrary.map((post) => (
            <ArticleCard
              title={post.data.title}
              excerpt={post.data.description}
              tags={post.data.tags}
              slug={post.id}
            />
          ))}
        </div>
      </div>
    </section>
  </main>

  <Footer />
</BaseLayout>

<style>
  .library-heading {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--heading-color);
  }
  .page-header {
    padding: 80px 0 60px;
    text-align: center;
    background-color: var(--card-bg-color);
  }

  .page-header h1 {
    font-size: 300rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .page-header p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    color: var(--text-color);
    font-style: italic;
  }

  .posts-grid-section {
    padding: 80px 0;
  }

  .articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }

  @media (max-width: 768px) {
    .page-header h1 {
      font-size: 2.5rem;
      flex-direction: column;
      gap: 10px;
    }
  }
</style>


